input {
 display: inline-block;
 border-radius: .5em;
}
select {
 display: inline-block;
 border-radius: .5em;
}div {
 padding: 10px
}
fieldset {
 border: 1px solid blue;
 border-radius: .5em;
 max-width: 50em;
 margin: 0 auto;
}
legend {
 padding: 0.2em 0.5em;
 border:1px solid blue;
 border-radius: .5em;
 color:blue;
 font-size:90%;
 text-align:left;
 }
 label {
  display: inline-block;
  vertical-align: middle;
  padding: .19em;
  width: 6.5em; 
  height: 2em;
  border: .1em solid blue;
  border-radius: .5em;
  text-align: center;
  font-size: .7em;
  float: left;
 }
 .error {
  width: 42%;
  height: 1.6em;
  background-color: #FFFFCC;
  font-size: .6em;
  text-align: center;
  display: none;
  border: .2em solid red;
  border-radius: .5em;
  padding: .4em; 
  float: right;
  margin-right: .5%;
 }
 .medium {
  display: inline-block;
  width: 16em;
  height: 2.3em;
  margin-left: .5em;
 }
 .loc {
  display: block;
  height: 2.3em;
  margin-left: .5em; 
 }
 .button {
  display: inline-block;
  border: .1em solid blue;
  color: blue;
  cursor: pointer;
 }
 legend.button {
  min-width: 7.7125em;
 }
 .ui-datepicker-trigger {
	display: inline-block;
	width: 16px;
	height: 15px;
	position: relative;
	top: 3px;
 }
 textarea{
 display: inline-block;
 border-radius: .5em;
 }
.hidden {
display: none;
max-width: 50em;
margin: 0 auto;
}

.float-center {
  float: left;
  margin: 0 auto;
  z-index: -1;
}